{% extends "layout.html" %} {% block title %}Lazar libaray{% endblock %} {% block
    head %} {{ super() }}
    <style type="text/css">
      .important {
        color: #336699;
      }
    </style>
    {% endblock %} {% block content %}
    <form action="" method="POST">
        <label>Book ID : </label>
        <input name="BookId" type="text" placeholder="Enter book ID">
        <label>Book Name : </label>
        <input name="NameBook" type="text" placeholder="Enter name book">
        <label>Author : </label>
        <input name="Author" type="text" placeholder="Enter name"><br><br>
        <label>YearPublished : </label>
        <input name="YearPublished" type="number" placeholder="Enter Year Published" >
        <label>Type : </label>
        <input name = "Type" type = number placeholder="Enter type">
        <button type="submit">Add Book</button>
    </form>
    {% endblock %}
